
%analytics-chart {

  display: inline-block;
  vertical-align: top;
  //position: relative;
  //
  //height: 350px;
  //
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  //
  //padding-top: 50px;
  //
  //background-color: $c-grey-200;
  //border: 1px solid $c-grey-300;
}

.analytics-chart--full-width {

  @extend %analytics-chart;
  width: calc(100% - 20px);
}

.analytics-chart--half-width {

  @extend %analytics-chart;
  width: calc(50% - 20px);
}

.analytics-chart--third-width {

  @extend %analytics-chart;
  width: calc(33% - 20px);
}

.analytics-chart--two-thirds-width {

  @extend %analytics-chart;
  width: calc(66% - 20px);
}

.analytics-chart__label {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  padding: 10px;
  background-color: $c-grey-300;
}

#metrics {
    width: 95%;
    margin: 20px auto;
}
.box {
    background-color: #ededed;
    height: 200px;
    width: 23%;
    margin: 1%;
    color: grey;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    position:relative;
}

.box > .align-icon-right {
  positon: absolute;
  left:46%;
  top: 8px;
}

.head {
    padding: 15px;
    padding-top:25px;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
}

.head > .align-icon-top-right {
  positon: absolute;
  top: -10px;
}

.align-icon-top-right-in-modal {
  position:absolute;
  right:10px;
  top:15px;
}

.i-info-grey {
  padding:0;
  margin:0;
}

.i-cross:hover {
  cursor:pointer;
}

.i-plus:hover {
  cursor:pointer;
}

.top_margin {
    margin-top: 10px
}
.count {
    font-size: 35px;
}
.unit {
    font-size: 20px;
}
