.campaign-list {
  border-collapse: collapse;
}

.campaign-list__header {
  padding: 15px;

  background: $c-grey-main;
  border-bottom: 4px solid $c-highlight-main;
  border-right: 1px solid $c-highlight-main;

  color: $c-grey-200;
  font-size: 18px;
}

.campaign-list__header:last-child {
  border-right: none;
}

.campaign-list__row {
  background-color: $c-grey-200;
  border-bottom: 1px solid $c-grey-400;

  cursor: pointer;
}

.campaign-list__row:nth-child(odd) {
  background-color: $c-grey-100;
}

.campaign-list__row:last-child {
  border-bottom: none;
}

.campaign-list__row:hover,
.campaign-list__row:nth-child(odd):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.campaign-list__item {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;

  border-top: 1px solid $c-grey-400;
  border-right: 1px solid $c-grey-400;

  color: $c-grey-main;
}

.campaign-list__item:last-child {
  border-right: none;
}

.campaign-list__item__logo {
  max-width: 100px;
  padding-top: 10px;
}
