@keyframes slideup {
  from {
    height: 60px;
  }

  to {
    height: 100%;
  }
}

@keyframes slidedown {
  from {
    height: 100%;
  }

  to {
    height: 60px;
  }
}

.campaign-list__item {
  display: inline-block;
  position: relative;

  width: calc(25% - 40px);
  max-width: 250px;
  min-width: 150px;

  height: 160px;
  overflow: hidden;

  margin-right: 20px;
  margin-bottom: 20px;

  background-color: $c-grey-200;
  border: 1px solid $c-grey-300;

  color: $c-grey-main;

  &:hover {
    .campaign-list__item__info {
      animation-duration: 1s;
      animation-name: slideup;
      animation-fill-mode: forwards;
    }
  }
}

.campaign-list__item__info {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: $c-grey-secondary;

  color: $c-bluegrey;

  animation-duration: 1s;
  animation-name: slidedown;
  animation-fill-mode: forwards;
}

.campaign-list__item__info-name {
  display: block;

  padding-bottom: 36px;
}

.campaign-list__item__info-other {
  display: block;

  padding-bottom: 6px;

  font-size: 14px;
  font-weight: bold;
}

.campaign-list__item__info-other--status,
.campaign-list__item__info-other--value {
  color: $c-highlight-main;
}
