.campaign-list {
  border-collapse: collapse;
  width: 100%;
}

.campaign-list__header {
  padding: 15px;

  background: $c-grey-main;
  border-bottom: 4px solid $c-highlight-main;
  border-right: 1px solid $c-highlight-main;

  color: $c-grey-200;
  font-size: 18px;
}

.campaign-list__header:last-child {
  border-right: none;
}

.campaign-list__header--sortable {
  cursor: pointer;
  position: relative;
}

.campaign-list__header-title {
  user-select: none;
}

.campaign-list__header-order {
  display: inline-block;
  width: 10px;
  height: 15px;
  position: relative;
  margin-left: 5px;
  &::before, &::after {
    content: "";
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-sizing: border-box;
  }

  &::before {
    border-bottom: 7px solid $c-highlight-main;
    margin-bottom: 5px;
  }

  &::after {
    border-top: 7px solid $c-highlight-main;
  }

}

.campaign-list__header-order--desc::after,
.campaign-list__header-order--asc::before {
  visibility: hidden;
}


.campaign-list__row {
  background-color: $c-grey-200;
  border-bottom: 1px solid $c-grey-400;

  cursor: pointer;
}

.campaign-list__row:nth-child(odd) {
  background-color: $c-grey-100;
}

.campaign-list__row:last-child {
  border-bottom: none;
}

.campaign-list__row:hover,
.campaign-list__row:nth-child(odd):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.campaign-list__item {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  max-width: 330px;

  border-top: 1px solid $c-grey-400;
  border-right: 1px solid $c-grey-400;

  font-size: 14px;

  color: $c-grey-main;

  .i-info-grey {
    float: right;
  }
}

.campaign-list__item--ahead {
  color: $c-green;
}

.campaign-list__item--behind {
  color: $c-red;
}

.campaign-list__item:last-child {
  border-right: none;
}

.campaign-list__item__logo {
  max-width: 60px;
  padding: 3px;
  float:right;
}

.campaign-list__helper {
  display: none;
  position: absolute;
  background: $c-grey-100;
  padding: 6px;
  border: 1px solid $c-grey-300;
  z-index: 1;
  cursor: initial;
  &:hover {
    display: block;
  }
}

.i-info-grey:hover + .campaign-list__helper {
  display: block;
}
