
.main__content {
    width: 100%;
    padding: 40px;
    padding-left: $size-sidebar-width + 40;
}

.main__sidebar {
    width: $size-sidebar-width;
    background-color: $c-grey-main;
    float: left;
    position: sticky;
    top: 0;
}
