
.main__flex-container {
    display: flex;
}

.main__content {
    padding: 40px;
    flex:1 0 auto;
    width: calc(100vw - 295px);
}

.main__sidebar {
    width: $size-sidebar-width;
    background-color: $c-grey-main;
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    align-self: flex-start;
}
