
.campaign-media__table {
    width: 100%;
}

.campaign-media__table--header {
    background-color: $c-grey-200;
    width: 10%;
}

.campaign-media__table--primary-header {
    background-color: $c-grey-200;
    width: 50%;
}