.infinity-menu-container {
  border: 1px solid #dcdcdc;
  font: inherit;
}

.infinity-menu-display-tree-container {
  cursor: pointer;
}

.infinity-menu-display-tree-container li:hover {
  background: #F5F5F5;
}

.campaign-referral-list {
  font: inherit;
}

.campaign-referral-list__item {
  border-bottom: 1px solid $c-grey-300;
}

.campaign-referral-list__row {
  @extend %table__row;
  font: inherit;
  border-bottom: none;
}

.campaign-referral-list__source {
  @extend %table__cell;
  white-space: normal;
  position: relative;
  overflow: auto;
  border-bottom: none;
  font: inherit;
}

.campaign-referral-list__impressions,
.campaign-referral-list__clicks,
.campaign-referral-list__ctr {
  @extend %table__cell;
  white-space: normal;
  position: relative;
  overflow: auto;
  border-bottom: none;
  text-align: right;
  font: inherit;
}

.campaign-referral-list__header {
  @extend %table__cell;
  background-color: $c-grey-200;
  font-weight: bold;
  white-space: normal;
}

.campaign-referral-list__header--toggle {
  cursor: pointer;
}

.campaign-referral-list__header--asc::before {
  content: "";
  position: relative;
  top: -10px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $c-grey-600;
}

.campaign-referral-list__header--desc::before {
  content: "";
  position: relative;
  top: 10px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $c-grey-600;
}

.campaign-referral-box-header {
  display: flex;
  justify-content: space-between;
}

.campaign-referral-daterange {
  text-transform: none;
  font-size: smaller;
}

.campaign-referral-daterange label {
  margin: 10px;
}

.campaign-referral-daterange label input {
  color: initial;
}

.campaign-assets__field__value h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#campaign-referrals-body > :not(last-child) {
  margin-bottom: 40px;
}

#campaign-referrals-body > :last-child {
  margin-bottom: 0;
}

.numeric-value {
  text-align: right;
}
