.infinity-menu-container {
  font: inherit;
}

.infinity-menu-display-tree-container > li {
  background: #F5F5F5;
}

.campaign-referral-list {
  font: inherit;
}

.campaign-referral-list__item {
  border-bottom: 1px solid $c-grey-300;
}

.campaign-referral-list__row {
  @extend %table__row;
  font: inherit;
  border-bottom: none;
}

.campaign-referral-list__source {
  @extend %table__cell;
  white-space: normal;
  position: relative;
  overflow: auto;
  border-bottom: none;
  font: inherit;

  &--header {
    @extend %table__cell;
    background-color: $c-grey-200;
    font-weight: bold;
    white-space: normal;
  }
}

.campaign-referral-list__impressions,
.campaign-referral-list__clicks,
.campaign-referral-list__ctr {
  @extend %table__cell;
  white-space: normal;
  position: relative;
  overflow: auto;
  border-bottom: none;
  text-align: right;
  font: inherit;

  &--header {
    @extend %table__cell;
    background-color: $c-grey-200;
    font-weight: bold;
    white-space: normal;
  }
}
