%campaign__column {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.campaign__column {
  @extend %campaign__column;
  width: 33%;

}

.campaign__column--double-width {
  @extend %campaign__column;
  width: 66%;
}

.campaign-box {
  width: 100%;
}

.campaign-box__header {
  background-color: $c-grey-light-main;
  color: white;

  font-size: 16px;
  text-transform: uppercase;

  padding: 10px 20px;

  margin-top: 30px;
}

.campaign-box__header__delete-campaign-button,
.campaign-box__header__refresh-asset-button {
  float: right;
  cursor: pointer;
}

.campaign-box__header__delete-campaign-button:hover i,
.campaign-box__header__refresh-asset-button:hover {
  transform: scale(1.2);
}


.campaign-box__body {
  padding: 20px;

  font-size: 14px;

  border: 1px solid $c-grey-300;
}

.campaign-box__footer {
  background-color: $c-grey-100;

  border: 1px solid $c-grey-300;
  border-top-width: 0;

  padding: 5px 10px;

  text-align: right;
}

.campaign-box-section {
  width: 100%;
}

.campaign-box-section__header {
  background-color: $c-grey-200;
  color: black;

  font-size: 16px;
  text-transform: uppercase;

  padding: 10px 20px;
}

.campaign-box-section__body {
  padding: 20px;

  font-size: 14px;

  border: 1px solid $c-grey-300;;
}
