
%sidebar-shadow {
  &:before {
    content: ' ';
    display: block;

    height: 100%;
    width: 10px;

    position: absolute;
    top: 0;
    right: 0;

    background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.4));
    background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.4));
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4));
  }
}

.sidebar {
  @extend %sidebar-shadow;

  height: 100%;
  position: relative;
}


.sidebar__link-group {
  padding: 20px 0;
}

.sidebar__link-group__header {
  text-transform: uppercase;

  font-weight: bold;

  font-size: 15px;

  color: $c-grey-200;

  padding: 10px;
}
.sidebar__link {

  display: block;

  height: 30px;

  text-transform: uppercase;

  font-size: 14px;

  padding: 7px 10px;


  color: $c-grey-200;
  background-color: $c-grey-secondary;
  border-bottom: 2px solid $c-grey-main;

  &--active {
    position: relative;
    color: $c-grey-main;
    background-color: $c-highlight-main;

    &::after {
      content: " ";
      display: block;

      position: absolute;
      top: -1px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right:15px solid white;

      z-index: 3;
    }
  }

}

.sidebar__filter-group {
}

.sidebar__filter-group__header {
  text-transform: uppercase;

  font-weight: bold;

  font-size: 13px;

  color: $c-grey-200;

  padding: 10px 20px;
}
.sidebar__filter-group__link {

  display: block;

  text-transform: uppercase;

  font-size: 12px;

  padding: 5px 40px;

  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  color: $c-grey-200;
  border-bottom: 2px solid $c-grey-main;

  &--active {
    color: $c-highlight-main;
  }

}

