
.campaign-info__field {
  label {

    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;

    font-weight: bold;

    padding: 5px 0;
  }
}

.campaign-info__field__value {
  margin: 0 5px;
}

.campaign-info__field__error {
  color: $c-red;
  padding-left: 10px;
}

.campaign-info__button {

  display: inline-block;
  background-color: $c-highlight-main;
  padding: 5px 20px;

  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;

  border-radius: 3px;
}

.hover-popover {
  background-color: rgb(50, 58, 71);
  color: rgb(237, 237, 237);
  border-radius: 5px;
  padding: 1em;
  margin-top: 6px;
  width: auto;
  position: absolute;
}

.popover-key {
  text-transform: lowercase !important;
  margin-right: 0.5em;
  font-weight: bold;
}

.popover-value {
  text-transform: lowercase !important;
  color: #37c7ba;
}

.hover {
  text-decoration: underline dotted;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.hover:hover .hover-content {
  visibility: visible;
}

.hover-content {
  visibility: hidden;
}

.hover-popover:hover {
  visibility: hidden;
}

