%svg-common {
	background: url('/assets/images/icons.svg') no-repeat;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	top: 2px;
}

.i-public--images--icons--add-image {
	@extend %svg-common;
	background-position: 20% 0;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--add-image-grey {
	@extend %svg-common;
	background-position: 80% 0;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--article {
	@extend %svg-common;
	background-position: 0 20%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--atom {
	@extend %svg-common;
	background-position: 20% 20%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--audio {
	@extend %svg-common;
	background-position: 40% 0;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--clock {
	@extend %svg-common;
	background-position: 40% 20%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--composer {
	@extend %svg-common;
	background-position: 0 40%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--cross {
	@extend %svg-common;
	background-position: 20% 40%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--cross-grey {
	@extend %svg-common;
	background-position: 40% 40%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--cross-red {
	@extend %svg-common;
	background-position: 60% 0;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--cross-white {
	@extend %svg-common;
	background-position: 60% 20%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--delete {
	@extend %svg-common;
	background-position: 60% 40%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--delete-red {
	@extend %svg-common;
	background-position: 0 60%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--dfp {
	@extend %svg-common;
	background-position: 20% 60%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--down-arrow {
	@extend %svg-common;
	background-position: 40% 60%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--failed-face-red {
	@extend %svg-common;
	background-position: 60% 60%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--gallery {
	@extend %svg-common;
	background-position: 0 0;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--info-grey {
	@extend %svg-common;
	background-position: 80% 20%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--interactive {
	@extend %svg-common;
	background-position: 80% 40%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--live-site {
	@extend %svg-common;
	background-position: 80% 60%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--pen {
	@extend %svg-common;
	background-position: 0 80%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--plus {
	@extend %svg-common;
	background-position: 20% 80%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--preview-eye {
	@extend %svg-common;
	background-position: 40% 80%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--publish {
	@extend %svg-common;
	background-position: 60% 80%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--publish-disabled {
	@extend %svg-common;
	background-position: 80% 80%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--refresh {
	@extend %svg-common;
	background-position: 100% 0;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--refresh-black {
	@extend %svg-common;
	background-position: 100% 20%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--rollback-grey {
	@extend %svg-common;
	background-position: 100% 40%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--tag-white-30 {
	@extend %svg-common;
	background-position: 100% 60%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--tick {
	@extend %svg-common;
	background-position: 100% 80%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--tick-green {
	@extend %svg-common;
	background-position: 0 100%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--tick-selected {
	@extend %svg-common;
	background-position: 20% 100%;
	width: 12px;
	height: 12px;
}

.i-public--images--icons--video {
	@extend %svg-common;
	background-position: 40% 100%;
	width: 12px;
	height: 12px;
}

