.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  min-height: $size-header-height;
  max-height: $size-header-height;
  background-color: $c-grey-main;
  z-index: 2;
}

.header__logo {

  @extend %f-data;

  width: $size-sidebar-width;
  background-color: $c-highlight-main;
  color: white;

  font-weight: bold;

  text-align: center;
  padding-top: 3px
}

.header__logo__text--large {
  line-height: 25px;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(50, 58, 71, 0.47);
}

.header__logo__text--small {
  font-size: 1em;
  color: $c-highlight-secondary;
}

.header__title {
  line-height: $size-header-height;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
  font-weight: 100;
  color: white;
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
